.lists-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.change-container{
    display: flex;
    gap: 20px;
}
.spending-summary-container{
    display: flex;
    gap: 20px;
}