.lists-container {
    display: flex;
    gap: 20px;
}
.totals-container{
    display: flex;
    gap: 20px;
}
.delete-container{
    display: flex;
    gap: 20px;
}
.change-totals-container{
    display: flex;
    gap: 20px;
}
.avg-monthly-container{
    display: flex;
    gap: 20px;
}